$mainbg: #242b44;
$accentbg: #2a324f;
$navbg: #22273d;
$mainfont: #f6f6f7;
$accentfont: #c1c7d8;
$mainbtn: #5d35f1;
$secondarybtn: #8d99ba;
$tertiarybtn: #ff5970;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $mainbg;
  color: $mainfont;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

a {
  color: $mainfont;
  text-decoration: none;

  &:hover {
    color: $accentfont;
  }
}
